{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Sport Huancayo</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quibusdam minus molestias tempore provident magnam architecto eaque, tenetur accusamus laboriosam voluptatum maiores, labore aut sed esse facilis similique reiciendis quam?

        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/SportHuancayo.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}
